.HomeBannerContainer {
  height: 100vh;
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #60e314 0%, #b6e314 100%);
  padding: 20px;
  position: relative;
}

.HomeBannerContainer .HomeBannerContent {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
  height: 80%;
  align-items: center;
}

.HomeBannerContainer .HomeBannerContent .LeftSide {
  display: flex;
  color: #fffff0;
  font-size: 7rem;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  gap: 30px;
}

.HomeBannerContainer .HomeBannerContent .LeftSide .LeftBar {
  width: 15px;
  height: 60vh;
  background-color: #fffff0;
  border-radius: 15px;
}

/* .HomeBannerContainer .HomeBannerContent .RigthSide {
  display: flex;
} */

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt {
  width: 500px;
  height: 600px;
  background-color: #eee30c;
  border: solid #0d171775 5px;
  border-radius: 8px;
  display: flex;
  padding-left: 45px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}
.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt ul:first-child {
  justify-self: center;
}

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
  list-style: none;
}

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt div {
  width: 400px;
  height: 10px;
  border-radius: 5px;
  background-color: #0d171775;
}
