.HomeBannerContainer {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, #60e314 0%, #b6e314 100%);
  padding: 20px;
  position: relative;

  @media (max-width: 550px) {
    height: 50vh;
  }
}

.HomeBannerContainer .HomeBannerContent {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 90px;
  height: 100%;
  align-items: center;

  @media (max-width: 770px) {
    gap: 0;
  }
}

.HomeBannerContainer .HomeBannerContent .LeftSide {
  display: flex;
  color: #fffff0;
  font-size: 7rem;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  gap: 30px;

  @media (max-width: 770px) {
    font-size: 4rem;
  }

  @media (max-width: 550px) {
    font-size: 2rem;
  }
}

.HomeBannerContainer .HomeBannerContent .LeftSide .LeftBar {
  width: 15px;
  height: 60vh;
  background-color: #fffff0;
  border-radius: 15px;

  @media (max-width: 550px) {
    height: 30vh;
  }
}

/* .HomeBannerContainer .HomeBannerContent .RigthSide {
  display: flex;
} */

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt {
  width: 500px;
  height: 600px;
  background-color: #eee30c;
  border: solid #0d171775 5px;
  border-radius: 8px;
  display: flex;
  padding-left: 45px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;

  @media (max-width: 1355px) {
    display: none;
  }
}

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
  list-style: none;
}

.HomeBannerContainer .HomeBannerContent .RigthSide .PostIt div {
  width: 400px;
  height: 10px;
  border-radius: 5px;
  background-color: #0d171775;
}
