.container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--chinese-black);
    height: 12rem;
    width: 12rem;
    justify-content: center;
    align-items: center;
}