@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --ivory: #fffff0;
  --nickel: #646f79;
  --chinese-black: #0d1717;
  --overlay-background: #0d1717aa;
  --ligh-chinese-black: #0d171775;
  --very-ligh-chinese-black: :#0d17177a;

  --malachite: #00EE4D;
  --lime-green: #3CF23C;
  --green-yellow: #A6F81E;
  --spring-frost: #7CF62C;
  --titanium-yellow: #eee30c;
  --dark-springfrost: #00ea60;
}

a {
  text-decoration: none;
  color: var(--malachite);
  text-decoration: none;
  font-size: 1rem;
}

hr {
  margin: 2rem 0;

  @media (max-width: 768px) {
    margin: 1rem 0;
  }
}