.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 85%;
  background-color: var(--ivory);
  border-radius: 12px;
  height: 90%;
  border: 1px solid var(--chinese-black);

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    height: 100%;
    gap: 1rem;
  }
}
