.container {
  display: block;
  background-color: var(--ivory);
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  border: 1px solid var(--chinese-black);
  padding: 1rem;
  gap: 1rem;
  position: relative;
  cursor: pointer;

  .options {
    position: absolute;
    left: 0;
    padding: 1rem;
    background-color: var(--ivory);
    margin-top: 1.5rem;
    border-radius: 12px;
    width: 100%;
    border: 1px solid var(--chinese-black);

    @media (max-width: 768px) {
      max-height: 10rem;
      overflow: scroll;
    }

    .row {
      display: flex;
      gap: 1rem;

      .preview {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
    }

    hr {
      margin: 0.5rem 0 1rem 0;
    }
  }
}
