.container {
  height: fit-content;
  border-radius: 12px;
  width: 40vw;
  padding: 1rem;
  background-color: var(--ivory);
  box-shadow: var(--very-ligh-chinese-black) 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  a {
    margin: 1rem 0 0 0;
  }
}
}


