.HeaderContainer {
  width: calc(100% - 40px);
  height: 10vh;
  color: #0d1717;
  background-color: #fffff0;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  position: fixed;
  box-shadow: #0d17171a 0px 0px 15px 15px;
}

.HeaderContainer .HeaderLogo {
  @media (max-width: 550px) {
    font-size: 20px;
  }
  font-style: italic;
}

.HeaderContainer .HeaderLogo a {
  text-decoration: none;
  color: #0d1717;
}

.HeaderContainer .HeaderContent {
  list-style: none;
  display: flex;
  gap: 15px;

  @media (max-width: 870px) {
    display: none;
  }
}

.HeaderContainer .HeaderContent a {
  text-decoration: none;
  color: #0d1717;
}
.HeaderContainer .HeaderContent a:hover {
  animation: textHover;
}

.HamburgerMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: #0d1717 solid 2px;

  @media (max-width: 870px) {
    display: flex;
  }
}

.HamburgerMenu .MobileLines {
  height: 3px;
  border-radius: 5px;
  width: 30px;
  background-color: #0d1717;
}
