@keyframes MobileMenuAnimation {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}

.HeaderContainer {
  width: calc(100% - 40px);
  height: 10vh;
  color: var(--chinese-black);
  background-color: var(--ivory);
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  position: fixed;
  box-shadow: var(--very-ligh-chinese-black) 0px 0px 15px 15px;
}

.HeaderContainer .HeaderLogo {
  font-style: italic;
  transition: 0.5s;
  display: flex;

  @media (max-width: 550px) {
    font-size: 20px;
  }
}

.HeaderContainer .HeaderLogo:hover {
  scale: 1.2;
}

.HeaderContainer .HeaderLogo a {
  text-decoration: none;
  color: var(--chinese-black);
}

.HeaderContainer .HeaderContent {
  list-style: none;
  display: flex;
  gap: 25px;

  @media (max-width: 870px) {
    display: none;
  }
}

.HeaderContainer .HeaderContent li:hover {
  transition: 0.5s;
  scale: 1.3;
}

.HeaderContainer .HeaderContent span {
  display: flex;
}

.HeaderContainer .HeaderContent a {
  text-decoration: none;
  color: var(--chinese-black);
}
.HeaderContainer .HeaderContent a:hover {
  animation: textHover;
}

.HamburgerMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: var(--chinese-black) solid 2px;

  @media (max-width: 870px) {
    display: flex;
  }
}

.HamburgerMenu .MobileLines {
  height: 3px;
  border-radius: 5px;
  width: 30px;
  background-color: var(--chinese-black);
}

.MobileContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: var(--ligh-chinese-black);
  display: flex;
  padding: 0;
}

.MobileMenu {
  animation-duration: 0.5s;
  animation-name: MobileMenuAnimation;
  width: 100vw;
  height: 50vh;
  background-color: var(--ivory);
  position: fixed;
  border-bottom: 0.1rem var(--chinese-black) solid;
}

.MobileMenu svg {
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
}

.MobileMenu ul {
  margin: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MobileMenu a {
  text-decoration: none;
  color: var(--chinese-black);
  font-size: 2rem;
}

.MobileOpen {
  overflow: hidden;
}
