.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    #a6f81e 0%,
    #7cf62c 25%,
    #3cf23c 50%,
    #00ee4d 75%,
    #00ea60 100%
  );
}
